.container, .container-fluid, .container-sm {
    font-family: 'Sarabun', sans-serif;
}

@media print {
    .print{
    font-family: 'Sarabun', sans-serif;
    font-size: 13px;
      margin: 30px ;
    }

    .form-control {
      font-size: 13px;
    }
  }
